Package: switchmap
Version: 14.0.__datestamp__
Architecture: all
Maintainer: Paul Weaver <paul.weaver.uk@gmail.com>
Depends: libnet-snmp-perl, liblog-log4perl-perl, libsnmp-info-perl, liblog-dispatch-perl, netdiscover, apache2, snmp-mibs-downloader, snmp
Conflicts:
Recommends:
Section: web
Priority: optional
Installed-Size: 1000
Description: Switchport mapper
 Package for a switchport mapper - from https://sourceforge.net/projects/switchmap/
 This allows you to scan your network and determine what devices are on each port of each switch
 Files to edit are /opt/switchportmapper/etc/snmps and /opt/switchportmapper/etc/ThisSite.pm
